# Pet Rock #
*.class

# Package Files #
*.war
*.ear

# IDEA Files #
*.iml
*.ipr
*.iws
/.idea

# Eclipse #
/bin
/.settings
/.classpath
/eclipse
/.project
/.metadata

# Gradle #
/.gradle
/build
/libs
/lib
forge-1.7.10-10.13.4.1448-1.7.10-changelog.txt
MinecraftForge-Credits.txt
README.txt
